<body>
  </div>
  <div class="Content">

    <p>Cher Maître <%=@avocat.name%></p>

    <p> Je vous contacte aujourd'hui car je souhaite entamer une procédure de divorce et je saurai gré de me réprésenter dans cette démarche.</p>


    <p>Veuillez trouver ci-dessous la liste exhaustive des documents fournie par <b>.done</b> dont vous trouverz le détail ci-dessous:
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </p>

    <p>Je souhaiterais que ma situation se solutionne au plus vite, je fais donc appel à vos services afin d'être assisté et conseillé.
    Je vous remercie de l’attention que vous porterez à cette demande de représentation et j'espère vous rencontrer rapidement afin que nous puissions entamer les démarches qui s'imposent.</b>.</p>

    <p>Dans l'attente de votre réponse, je vous prie d'agréer, Maître, l'expression de mes salutations distinguées.</p>

    <p><%= @procedure.full_name %></p>



  </div>
</body>


