<div class="map_box">
  <h4><%= avocat.name %></h4>
  <p><%= avocat.address %></p>
  <p>Tel: <%= avocat.phone_number%></p>
  <%= link_to 'Envoyer la demande de divorce', avocat_contacts_path(avocat), method: :post, target: :blank, class: "btn btn-call-to-action" %>
</div>

