.container_docs {
  border-color: #F0F4F8;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30);
  padding: 20px;
  margin-top: 30px;
  padding-right: 30px;
  background-color: white;
  font-size: 14px;
  flex-direction: row;
}

.container_docs ul {
  padding-left: 10px;
}

.doc-nil {
  position: relative;
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  background-color: #60919F;
  // padding: 10px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  // cursor: pointer;
  // border-radius: 3px;
}

.doc {
  position: relative;
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  background-color: white;
  // padding: 10px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  // cursor: pointer;
  // border-radius: 3px;
}

.doc-description-nil {
  position: absolute;
  top: 0px;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  background-color: white;
  width: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.doc-description {
  position: absolute;
  top: 0px;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  width: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
  background-color: #60919F;
}

.state {
  width: 150px;
  background-size: cover;
  height: 150px;
}


.add {
  position: absolute;
  bottom: 0px;
  font-weight: bold;
  font-size: 16px;
  height: 30px;
  background-color: white;
  width: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: space-around;
}


.doc-category-if-done {
  font-size: 20px;
  align-items: left;
  align-self: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

.doc-preview {
  position: absolute;
  top: 40px;
  align-items: left;
  align-self: auto;
  height: 170px;
  width: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
}

// .icon {
//   color: white;
//   height: 50px;
//   width: 50px;
//   text-align: center;
//   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
//   border-radius: 50%;
// }

.btn-upload {
  margin: 10px;
  padding: 15px;
  // padding-right: 30px;
  background-color: #60919F;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 4px;
  font-size: 16px;
  height: 70px;
  width: 100px;
  position: relative;
  // padding-left: 15px;
}

.btn-upload:hover {
  text-decoration: none;
  color: #60919F;
  background-color: #F3C600;
}

.btn-validate {
  position: absolute;
  bottom: 40px;
  left: 40px;
  // margin: 13px;
  // background-color: #A0D1C5;
  // color: #60919F;
  // padding: 10px;
  // padding-left: 15px;
  // padding-right: 15px;
  // text-decoration: none;
  // border-radius: 4px;
  // font-size: 14px;
  // height: 40px;
  // width: 150px;
}

// .btn-validate:hover {
//   text-decoration: none;
//   color: #60919F;
//   background-color: #F3C600;
// }

.upload {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}

.btn-file {
  position: absolute;
  bottom: 10px;
}

