.container_docs {
  border-color: #F0F4F8;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30);
  padding: 20px;
  margin-top: 30px;
  padding-right: 30px;
  background-color: white;
  font-size: 14px;
  flex-direction: row;
}

.container_docs ul {
  padding-left: 10px;
}

// .doc-nil {
//   position: relative;
//   display: flex;
//   // justify-content: flex-start;
//   align-items: center;
//   justify-content: space-around;
//   margin: 5px;
//   height: 250px;
//   background-color: white;
//   border-radius: 5px;
//   list-style: none;
//   background-color: #60919F;
//   // padding: 10px;
//   border: 1px solid #CCC;
//   box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
//   box-sizing: border-box;
//   // cursor: pointer;
//   // border-radius: 3px;


// }

.doc {
  position: relative;
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  background-color: white;
  // padding: 10px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  // cursor: pointer;
  // border-radius: 3px;
}






.add {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  font-size: 40px;
  height: 100px;
  // background-color: white;
  width: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: space-around;
}


.doc-category-if-done {
  font-size: 20px;
  align-items: left;
  align-self: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}



// .icon {
//   color: white;
//   height: 50px;
//   width: 50px;
//   text-align: center;
//   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
//   border-radius: 50%;
// }

.btn-upload {
  margin: 10px;
  padding: 15px;
  // padding-right: 30px;
  background-color: #60919F;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 4px;
  font-size: 16px;
  height: 70px;
  width: 100px;
  position: relative;
  // padding-left: 15px;
}

.btn-upload:hover {
  text-decoration: none;
  color: #60919F;
  background-color: #F3C600;
}

.btn-validate {
  position: absolute;
  bottom: 40px;
  left: 40px;
  // margin: 13px;
  // background-color: #A0D1C5;
  // color: #60919F;
  // padding: 10px;
  // padding-left: 15px;
  // padding-right: 15px;
  // text-decoration: none;
  // border-radius: 4px;
  // font-size: 14px;
  // height: 40px;
  // width: 150px;
}

// .btn-validate:hover {
//   text-decoration: none;
//   color: #60919F;
//   background-color: #F3C600;
// }

.upload {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}

.btn-file {
  position: absolute;
  bottom: 10px;
}

.btn-none {
  border: none;
  background-color: none;
}




* {
  box-sizing: border-box;
}

$animQuick: 0.3s;
$infoSize: 115px;
$infoExpanded: 280px;
$infoMargin: 12px;


.cards {
  width: 100%;
}

.card-nil {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  background-color: #60919F;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;

  &:hover{
    .card__preview {
      -webkit-filter: blur(0);
    }

    .card__info {
      transform: translateY(-1 * ($infoExpanded - ($infoSize * 2)));
    }
  }
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 250px;
  background-color: black;
  border-radius: 5px;
  list-style: none;
  background-color: #F2F4F7;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;

  &:hover{
    .card__preview {
      -webkit-filter: blur(0);
    }

    .card__info {
      transform: translateY(-1 * ($infoExpanded - ($infoSize * 2)));
    }
  }
}



/*------------------------------------*\
    #Card Preview
\*------------------------------------*/
.card__preview__nil {
  // position: absolute, 0 0 0 0;
  align-self: center;
  background-size: cover;
  background-position: center;
  opacity: 0,5;
  width: 80px;
  background-size: cover;
  height: 80px;
  // -webkit-filter: blur(1px);
}

.card__preview {
  // position: absolute, 0 0 0 0;
  align-self: center;
  background-size: cover;
  background-position: center;
  opacity: 0,5;
  background-size: cover;
  padding: 60px;
  padding-bottom: 80px;
  background-color: #F2F4F7;
  // -webkit-filter: blur(1px);
}

// .doc-description-nil {
//   position: absolute;
//   top: 0px;
//   width: 100%;
//   font-weight: bold;
//   font-size: 14px;
//   height: 30px;
//   background-color: white;
//   width: 100%;
//   display: flex;
//   padding-left: 10px;
//   align-items: center;
// }

.doc-des {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 16px
}

// .doc-description {
//   position: absolute;
//   top: 0px;
//   font-size: 14px;
//   height: 30px;
//   width: 100%;
//   background-color: #60919F;
//   color: #F3C600;
//   display: flex;
//   padding-left: 10px;
//   align-items: center;
//   align-self: center;
// }

.doc-preview {
  // position: absolute;
  // top: 40px;
  // align-items: left;
  // align-self: auto;
  // height: 170px;
  // width: 140px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // border-style: solid;
  // border-width: 1px;

  align-self: center;
  background-size: cover;
  background-position: center;
  opacity: 0,5;
  // width: 140px;
  background-size: cover;
  // height: 170px;
}


/*------------------------------------*\
    #Card Info Area
\*------------------------------------*/
.card__info {

  position: absolute;
  bottom: -50px;
  @include transition(transform $animQuick ease-in-out);
  height: $infoExpanded;
  width: 100%;
  padding-bottom: $infoMargin;
  background: #fff;
  border-top: 1px solid #ccc;

  // font-weight: bold;
  font-size: 18px;
  height: 80px;
  width: 100%;
  display: flex;
  // padding-left: 10px;
  align-items: flex-end;
  justify-content: space-around;
}

// .card__info.card__info--expanded {

// }


// .card__status {
//   display: none;
//   position: (absolute, $infoMargin/2 $infoMargin 0 0);
//   font-size: 20px;
//   color: #444;
// }


.card__title {
  calc: width, "100% - #{$infoSize}";
  margin-top: 0;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}

// .card__users {
//   position: absolute, 0 0 0 null;
//   width: $infoSize - ($infoMargin * 2);
//   border-radius: $infoSize;
//   /*border: 1px solid #ccc;
//   background: #eee;*/
//   margin: $infoMargin;
//   overflow: hidden;
// }

// .card__summary {
//   calc: width, "100% - #{$infoSize}";
// }

// .card__date {
//   line-height: 24px;
//   font-size: 13px;
//   color: #444;
// }

