body {
  font-size: 14px;
}

// #A0D1C5
//

#questions {
  position: relative;
  background-color: #60919F;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .question-container {
    height: calc(100vh - 70px);
    width: 66vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .question {
      width: 100%;
      input[type='text'].form-control {
        box-shadow: none;
        background: transparent;
        border: transparent;
        border-left: 3px solid white;
        height: 29px;
        padding: 20px;
        color: #F3C600;
        font-weight: 400;
        &:hover,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  .answer {
    padding: 20px;
    border: 1px solid #A0D1C5;
    margin-right: 10px;
    // width: 165px;
    cursor: pointer;
    background-color: #A0D1C5;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    &:hover,
    &.select {
      border-color: #F3C600;
      color: #111D4A;
      background-color: #F3C600;
      color: #60919f;

    }
  }
}


#prev {
  font-size: 40px;
  font-weight: 500;
  color: #F3C600;
  }
#next {
  font-size: 40px;
  font-weight: 500;
  color: #F3C600;
}
#next-finish {
  font-size: 18px;
  font-weight: 500;
  color: #F3C600;
  &:hover {
    font-weight: 500;
    color: #F3C600;
    text-decoration: none;
  }
}
.prev {
  font-size: 40px;
  font-weight: 500;
  color: #F3C600;
  cursor: pointer;
}
.next {
  font-size: 18px;
  font-weight: 500;
  color: #F3C600;
  cursor: pointer;
  &:hover {
    font-size: 40px;
    font-weight: 500;
    color: #F3C600;
    text-decoration: none;
  }
}
.finish {
  font-size: 18px;
  font-weight: 500;
  color: #F3C600;
  cursor: pointer;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      font-weight: 500;
      color: #F3C600;
      text-decoration: none;
    }
  }

}
.question-text {
  color: #f5f5f5;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 24px;
  font-size: 18px;
  letter-spacing: 0.17em;
}
.text-justify {
  text-align: center;
}
.card__info i.fa-upload {
  cursor: pointer;
}
.question input[type="file"] {
  display: none;
}
.fa-download:before {
  font-size: 23px;
  margin-left: 25px;
}
.banner-content p.emoji {
  font-size: 50px;
}
