body {
  background-color: #dae0f2;
  font-size: 14px;
}

#questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .question-container {
    height: calc(100vh - 70px);
    width: 66vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .question {
      width: 100%;
      input[type='text'] {
        width: 100%;
        background: transparent;
        border: transparent;
        border-left: 3px solid white;
        height: 67px;
        &:hover,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.answers {
  display: flex;
  justify-content: center;
  .answer {
    padding: 30px;
    border: 1px solid #dae0f2;
    margin-right: 10px;
    width: 165px;
    cursor: pointer;
    &:hover,
    &.active {
      border-color: #111D4A;
      color: #111D4A;
      background-color: #7180AC;

    }
  }
}
