#map {
  z-index: 1000;
  margin: auto;
  width: 100vw;
  height: calc(100vh - 70px);
}

.map_box {
  border: #60919F;
  border-radius: 20px;
}
.position-fixed {
  position: fixed !important;
}
.gm-style-mtc {
  display: none;
}
