#map {
  z-index: 1000;
  margin: auto;
  width: 100vw;
  height: calc(80vh);
}

#searchbar {
    width: 100vw;
    height: 20vh;
    margin: 0px auto;
}

.wrapper{
width: 300px;
margin: 0px auto;
}

.position-fixed {
  position: fixed !important;
}
