
.headerContainer {
    width: 100%;
    height: 62px;
    min-width: 710px;
    padding: 5px 0;
    position: absolute;
    top: 107px;
    left: 30px;
    z-index: 300000;
  }

#find .inputContainer {
    float: left;
    line-height: 49px !important;
    width: 300px;
    height: 49px;
    margin: 0 0 0 10px;
    padding: 0 10px 0 10px;
}

#find input {
    float: left;
    width: 300px;
    height: 49px;
    margin: 0 0 0 10px;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.btn-search {
  background-color: #60919F;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-size: bold;
  border: none;
  border-radius: 5px;
}

.btn-search:hover {
  text-decoration: none;
  color: #60919F;
  background-color: #F3C600;
}

